@charset "utf-8";

section .maxWidth{
  max-width:1024px;
}


/*元Style.css ココロトソウ切り分けのため移動*/
/*A01*/
.A01 h2.style02,
.A01_inner h2.style02 {
    border: none;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}


@media screen and (min-width:481px){
  /*改行がで崩れるためスマホのときはつけない*/
  .A01_inner h2.style02::before,
  .A01 h2.style02::before{
      content:"";
      height: 18px;
      width:1px;
      background-color: #124692;
      display: inline-block;
      transform: skew(-45deg);
      margin-right: 2rem;
  }
  .A01_inner h2.style02::after,
  .A01 h2.style02::after{
      content:"";
      height: 18px;
      width:1px;
      background-color: #124692;
      display: inline-block;
      transform: skew(-45deg);
      margin-left: 2rem;
  }
}
.notice{
  text-align:center;
}




.listBox{
  margin:0 -0.5rem;
}
.listBox > .listItem{
  width:calc((100% / 3) * 1 - 0.01px);
  padding:0 0.5rem;
  margin-top:2rem;
}
@media screen and (max-width:768px){
  .listBox > .listItem{
    width:50%;
  }
}

@media screen and (max-width:480px){
  .listBox{
    margin:0;
  }
  .listBox > .listItem{
    width:100%;
    padding:0;
  }
}
.ellipsisText{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 100%;
}
.caseInfo{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-color:rgba(0,131,210,0.5);
  color:#fff;
  padding: 0.5rem 0.5rem;
  justify-content: center;
}
.caseInfo p,
.caseInfo span,
.caseInfo i{
  color:inherit;
}
.caseInfoText{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.caseImage{
  position:relative;
  padding-top: 75.1%;
}
.caseImage > .image{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#f2f2f2
}

.caseImage > .image img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}





.pagination {
    display: flex;
    width:100%;
    justify-content: center;
    clear:both;
    padding:20px 0;
    margin: 0 auto; 
    position:relative;
    line-height:13px;
}

.pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 0.4rem 2px 0.4rem;
    padding: 0.53rem 0.66rem 0.53rem 0.66rem;
    text-decoration: none;
    width: auto;
    color: #707070;
    font-size: 14px;
    line-height: 14px;
    background: #fff;
    border: 1px solid #707070;
}

.Pc .pagination a:hover{
    color:#fff;
    background: #707070;
}

.pagination .current{
    background: #707070;
    color:#fff;
}






/*詳細*/

.oldCaseTitle .titleText{
  font-size:1.2rem;
  color:#008BD5;
  letter-spacing:0;
}
.secTitleA .titleText{
  font-size:1.6rem;
  border-bottom:1px solid #3a4a50;
  padding:0.2rem 0;
}


.image p,
.image div{
  text-align:left;
  letter-spacing: 0.2rem;
}

.image div span{
  letter-spacing: 0.2rem;
}

.oldCaseDetail_block{
  padding:0 0.5rem;
}
@media screen and (max-width:480px){
  .oldCaseDetail_row2 {
    margin-top:3rem;
  }
}
/*start oldCaseDetail_wrap*/
.oldCaseDetail_wrap{
  /*overflow:hidden;*/
}
.oldCaseDetail_inner{
  margin:0 -0.5rem;
}
.oldCaseDetail_wrap div{
  letter-spacing: 0;
}

.oldCaseDetail_co1,
.oldCaseDetail_co2{
  width:calc((100% / 2) * 1 - 0.01px);
  padding:0 0.5rem;
}
@media screen and (max-width:480px){
  .oldCaseDetail_co1,
  .oldCaseDetail_co2{
    width:calc((100% / 1) * 1 - 0.01px);
  }
  .oldCaseDetail_co:last-child{
    margin-bottom:0;
  }
  .oldCaseDetail_co2 {
    margin-top:1rem;
  }
}
/*end oldCaseDetail_wrap*/

/*start staff_wrap*/
.staff_wrap{
  /*overflow:hidden;*/
}
.staff_inner{
  margin:0 -0.5rem;
}
.staff_wrap div{
  letter-spacing: 0;
}
.staff_co{
  padding:0 0.5rem;
}
.staff_co{
  width:calc((100% / 2) * 1 - 0.01px);
}
@media screen and (max-width:480px){
  .staff_co{
    width:calc((100% / 1) * 1 - 0.01px);
  }
  .staff_co1{
    order:2;
    margin-top:1rem;
  }
  .staff_co2 {
    order:1;
  }
}
/*end staff_wrap*/


/*start gallery*/
.gallery{
  /*overflow:hidden;*/
}
.gallery{
  margin:0 -1rem;
}
.gallery > .galleryItem{
  padding:0 1rem;
}
.gallery > .galleryItem > div:first-child{
  margin-bottom:1rem;
}
.gallery > .galleryItem{
  width:calc((100% / 3) * 1 - 0.01px);
}

@media screen and (max-width:480px){
  .gallery > .galleryItem{
    width:calc((100% / 1) * 1 - 0.01px);
  }
  .gallery > .galleryItem + .galleryItem{
    margin-top:3rem;
  }
}
/*end staff_wrap*/
.pageLink {
  justify-content:center;
}
.pageLink > div{
  width: 50%;
  text-align:center;
  padding:0 0.5rem;
}
.pageLink * {
  color:inherit;
}
.pageLink .splitBox{
  width:0 ;
  padding:0;
  flex:none;
  border-right:1px solid #009ed9;
}
@media screen and (max-width:480px){
  .pageLink > div{
    width: 50%;
  }
}